.example-card {
   width: 300px;
   height: 260px;
  background: var(--card-bg);
  color: var(--card-color);
}

mat-card-title {
  font-size: 1.4rem;
}
.mat-mdc-card-subtitle {
  color: var(--card-color);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.fill-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.custom-chip {
  background-color: blue;
}
@media (max-width: 600px) {
  .example-card {
    width: 200px;
    height: 200px;
  }
}