<mat-card class="example-card py-3">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ station.name }}</mat-card-title>
      <mat-card-subtitle>{{ station.country }}</mat-card-subtitle>
      <img
        mat-card-sm-image
        [src]="
          station.favicon.length > 0
            ? station.favicon
            : 'path/to/default/image.png'
        "
        [alt]="station.name"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let tag of tagList | slice : 0 : 1">
      <mat-chip>
        <span>{{ tag }}</span>
      </mat-chip>
    </div>
    <div class="mt-2">
      <button
        style="background-color: #3f50b5"
        type="button"
        class="btn text-light rounded-5"
      >
        Votes:{{ station.votes }}
      </button>
    </div>
    <!-- <div *ngFor="let tag of tagList">
        <mat-chip style="background-color: #3F50B5; margin: 4px;">
          <span style="color: white;">{{ tag }}</span>
        </mat-chip>
      </div> -->
  </mat-card-content>
  <mat-card-actions align="end">
    <span class="d-flex align-items-center mx-1" (click)="addFavorite(station)"
      ><span  [ngClass]="{'fill-icon': isFavorite}" class="material-symbols-outlined"> favorite </span>
      LIKE
    </span>
    <span class="d-flex align-items-center mx-1">
      <span class="material-symbols-outlined"> play_arrow </span>PLAY
    </span>
  </mat-card-actions>
</mat-card>