<section class="">
<div *ngIf = "menuId === 1" class="all-dropdown d-flex flex-wrap">
    <div class="ms-2">
        <app-dropdown [placeHolder]=1></app-dropdown>
       </div>
    <div class="ms-2 ">
    <app-dropdown  [placeHolder]=2></app-dropdown>
   </div>

   <div class="ms-2">
    <app-dropdown  [placeHolder]=3></app-dropdown>
   </div>
</div>
<div *ngIf = "menuId === 1">
       <app-all-card></app-all-card>
</div>
<div  *ngIf = "menuId === 2">
      <app-radio-map></app-radio-map>
</div>
<div  *ngIf = "menuId === 3">
    <app-favourite-station></app-favourite-station>
</div>
</section>