<section class="footer-conatainer">
  <mat-toolbar color="primary">
    <span class="stationame">{{
      stationName.length > 15
        ? (stationName | slice : 0 : 15) + "..."
        : stationName
    }}</span>
      
    
    <span class="example-spacer"></span>
   
      <mat-icon>favorite</mat-icon>
   
      <mat-icon>share</mat-icon>
   
    <span *ngIf="play === false" class="material-symbols-outlined"  (click)="playAndPause()">
      play_circle
      </span>
      <span *ngIf="play === true" class="material-symbols-outlined" (click)="playAndPause()">
        pause_circle
        </span>
    
  </mat-toolbar>
</section>