.sidebar-parent {
  background-color: var(--card-bg);
  width: 13rem;
  display: flex;
  flex-direction: column;
  height: 91vh;
  padding-top: 5px;
}
.example-container {
  height: 93vh;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    font-size: 35px;
  }
.info{
    font-variation-settings:
    'FILL' 0;
}

p{
    font-weight: 500;
    font-size: 1rem;
}
#notification{
     color: gray;
     font-weight: 700;
}
.flex-grow-1 {
    flex-grow: 1;
}
#notification {
  color: var(--color-gray);
  font-weight: 700;
}
.mat-drawer {
  color: var(--card-color);
}

  .selected {
    background-color: var(--bg-body);
  }
  