.sidebar-parent{
    background-color: white;
    width: 13rem;
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-top: 5px;
    
}
.example-container{
    height: 100vh;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    font-size: 35px;
  }
.info{
    font-variation-settings:
    'FILL' 0;
}

p{
    font-weight: 500;
    font-size: 1rem;
}
#notification{
     color: gray;
     font-weight: 700;
}
.flex-grow-1 {
    flex-grow: 1;
}

  /* .sidebar-parent .ps-3 {
    padding-left: 1rem; 
  }
  
  .sidebar-parent .d-flex {
    display: flex;
   
  }
  .sidebar-parent .flex-column{
      flex-direction: column;
  }
  .sidebar-parent .justify-content-start {
    justify-content: flex-start; 
  }
  
  .sidebar-parent .align-items-center {
    align-items: center; 
  }
  
  .sidebar-parent .pt-3 {
    padding-top: 1rem; 
  }
  
  .sidebar-parent .pb-3 {
    padding-bottom: 1rem; 
  }
  .sidebar-parent .m-0 {
   margin: 0;
  }
  .sidebar-parent .ms-2 {
    margin-left: 0.5rem; 
  } */
  /* .danger{
     border: 1px solid red;
  } */
  
  .selected {
    background-color: #F6F5F5;
  }
  
  