<mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <section class="sidebar-parent ">
            <div class="">
            <div class="">
            <div (click)="slectMenu(1)" [class.selected]="selectedMenu === 1" class="d-flex justify-content-start align-items-center ps-3 pt-3 pb-3">
            <span class="material-symbols-outlined">
                radio
                </span>
                <p class="m-0 ms-2">Browse</p>
            </div>
            <div (click)="slectMenu(2)"  [class.selected]="selectedMenu === 2" class="d-flex justify-content-start align-items-center ps-3 pt-3 pb-3">
                <span class="material-symbols-outlined">
                    public
                    </span>
                    <p class="m-0 ms-2">Radio map</p>
                </div>
                <div (click)="slectMenu(3)"  [class.selected]="selectedMenu === 3" class="d-flex justify-content-start align-items-center ps-3 pt-3 pb-3">
                    <span class="material-symbols-outlined">
                        bookmarks
                        </span>
                        <p class="m-0 ms-2">Favorites</p>
                    </div>
                </div>
                    <hr>
                    <div class="ps-3"><p id="notification">Notifications</p></div>
                </div>
               
                <div class="flex-grow-1"></div>
        
               
                <div class="ps-3 mt-auto">
                    
                     <div class="d-flex justify-content-start align-items-center pt-3 pb-3">
                        <span class="material-symbols-outlined info">
                            info
                            </span>
                            <p class="m-0 ms-2">About</p>
                   </div>
            </div>
        
        </section>
     
    </mat-drawer>
  
  </mat-drawer-container>
  