/* .example-form {
    min-width: 250px;
    max-width: 300px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
   
  }

  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
 .danger{
     border: 1px solid red;
 }  */

 .example-form {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
  color: var(--card-color) !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--body-bg) !important;
}
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--card-color) !important;
}