@import "~leaflet/dist/leaflet.css";
:root {
  --bg-body: #f1f1f1;
  --card-bg: #fff;
  --card-color: #212529;
  --color-gray: gray;
}
html body {
  background-color: var(--bg-body);
}
   
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Media Queries */
@media (max-width: 1700px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
}